.background {
    background: url("../../../images/bg.jpg") center no-repeat;
    background-size: cover;
}

.logo {
    margin: 0;
    color: #fff;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    font-size: 22px;
    letter-spacing: 1px;
}

.signup-btn{
    text-decoration: none;
    margin: 30px auto 20px auto;
    padding: 5px 67px 5px 67px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .5s;
}


.signup-btn:hover {
    color: #000;
    background-color: #fff;
}
